 /* ---------------------------------------------------------------------------------------
  Theme Styles
 * --------------------------------------------------------------------------------------*//**

/* Typography */
body {
	color: $color-text;
	font: #{$base-font-size}/#{$baseline} $font-1;
}

a {
	color: $color-link;

	&:hover {
		color: $color-link-hover;
		@include transition (all, .6s, ease-out);
        text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1.3125rem;

	color: $color-text-2;
	font-family: $font-2;
	font-weight: normal;
}

h1 {
	font-size: 3.75rem;
	font-weight: bold;
}

h2 {
	font-size: 3.25rem;
    color: $color-text-2;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-family: $font-1;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

h6 {
	font-family: $font-1;
	font-size: 1rem;
}

blockquote cite {
	color: $color-light-text;
}

blockquote {
	margin: 0;

	font-style: italic;

	cite {
		font-size: .75rem;
		font-style: normal;

		&:before {
			content: "- ";
		}
	}
}



/* Layout related */
.t-margin {
	margin-bottom: $general-margin;
}



/* Header */
.t-beveled {
	border-bottom: 4px solid #F4F4F4;

}

.logo a {
	color: $color-text;
	font-family: $font-1;
}


/* Main banner */
.t-main-banner {
	background-color: $color-banner;


	h1,
	h3,
	p {
		color: #fff;

	}

	hr {
		width: 75%;

		background-color: rgba(255, 255, 255, .4);
	}
}




/* Buttons */




/* Lists */
.l-image-well {
	background-color: $color-hr;


	img {
		margin-top: .75rem;
	}
}

.l-list-divided li {
	border-left: 1px solid $color-hr;
}




/* Callout */
.t-callout {
	background-color: $color-callout;

	h2 {
		margin-top: 0;

		color: #fff;
	}

	h3 {
		margin: 0;
	}
}


/* Footer */
.social-icon {
	background-color: $color-hr;

	color: $color-light-text;

}
