 /* ---------------------------------------------------------------------------------------
* Footer
* --------------------------------------------------------------------------------------*/

 .footer-top {
    background-color: #001b22;
    padding: $baseline * 2 0;
    color: #fff;

    .footer-logo {

        img {
            width: 98%;
        }
    }

    ul {
        margin: 0;
        padding-left: 12px;
    }

    li {
        list-style-type: none;
    }

    h4 {
        color: $color-2;
        margin-bottom: 8px;
    }

    p {
        margin-bottom: 0;
    }

    a {
        color: #fff;
    }

    .footer-social {
        margin-top: 18px;
     
        i {
         background-color: $color-2;
         color: $color-link;
         font-size: 24px;
         height: 42px;
         width: 42px;
         text-align: center;
         line-height: 42px;

         &:hover {
             background-color: $color-banner;
             color: #fff;
            }
        }
        li {
            margin: 0 0 0 4px;
        }
    }
    
    .contact-info li i {
        color: $color-banner;
    }
 }

.footer-bottom {
    padding: 14px 0;
    background-color: $color-text;
    border-top: 2px solid $color-banner;
    color: $color-2;

    p {
        margin: 0;
    }
}

@media (max-width: 768px) {

    .footer-top .footer-logo img {
        width: auto;
}

}